<div class="nested-fields">
  <div class="row mt-3">
    <div class="col-md-3">
      <%= f.label :phone %>
      <%= f.text_field :phone, class: "form-control phone" %>
    </div>
    <div class="col-md-3">
      <%= f.label :cell_phone %>
      <%= f.text_field :cell_phone, class: "form-control phone" %>
    </div>
    <div class="col-md-4">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div class="col-md-2">
      <label for="">Remover</label> <br>
      <%= link_to_remove_association 'remover', f, class: "btn btn-danger" %>
    </div>
  </div>
</div>
<script>
  $(".phone").bind('input propertychange',function(){
  
    var texto = $(this).val();
  
    texto = texto.replace(/[^\d]/g, '');
  
    if (texto.length > 0)
    {
    texto = "(" + texto;
  
        if (texto.length > 3)
        {
            texto = [texto.slice(0, 3), ") ", texto.slice(3)].join('');
        }
        if (texto.length > 12)
        {
            if (texto.length > 13)
                texto = [texto.slice(0, 10), "-", texto.slice(10)].join('');
            else
                texto = [texto.slice(0, 9), "-", texto.slice(9)].join('');
        }
            if (texto.length > 15)
               texto = texto.substr(0,15);
    }
   $(this).val(texto);
  })
</script>
