<div class="container">
  <div class="row mt-3 text-center">
    <div class="col-md-3">
      <button type="button" style="width:100%;" class="btn btn-primary" data-toggle="modal" data-target="#workspace">
        Setores
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" style="width:100%;" class="btn btn-primary" data-toggle="modal" data-target="#jobrole">
        Funções
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" style="width:100%;" class="btn btn-primary" data-toggle="modal" data-target="#users">
        Usuarios
      </div>
      <div class="col-md-3">
        <%= link_to 'Cadastrar Funcionario', new_employee_path, style:"width:100%;", class:"btn btn-success" %>
      </div>
    </div>
    <hr>
    <div class="row">
      <%= form_tag(employees_path, method: 'get', class:'form-inline') do %>
        <div class="form-group mb-2">
          <input class="form-control" id="mySearch" type="text" placeholder="Search..">
        </div>
        <h4 class="ml-3">ou</h4>
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputPassword2" class="sr-only">Password</label>
          <input class="form-control" name="search" type="text" placeholder="Search 2..">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Buscar</button>
      <% end %>
      <div class="table-responsive mt-3">
        <h4>Funcionarios Cadastrados</h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Matricula</th>
              <th scope="col">Nome</th>
              <th scope="col">Data nascimento</th>
              <th scope="col">Sexo</th>
              <th scope="col">Lotação</th>
              <th scope="col">Cargo</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody id="myTable">
            <% @employees.each do |employee| %>
              <tr>
                <th scope="row"><%= employee.registration %></th>
                <td><%= employee.name %></td>
                <td><%= employee.date_birth.strftime("%d/%m/%Y") %></td>
                <td><%= employee.genre %></td>
                <td><%= employee.workspace.title %></td>
                <td><%= employee.job_role.title %></td>
                <td>
                  <%= link_to "<button class='btn btn-secondary btn-sm'><i class='fa fa-pencil'></i></button>".html_safe, edit_employee_path(employee) %>
                  <%= link_to "<button class='btn btn-primary btn-sm'><i class='fa fa-eye'></i></i></button>".html_safe, employee_path(employee) %>
                  <%= link_to "<button class='btn btn-danger btn-sm'><i class='fa fa-times'></i></button>".html_safe, employee_path(employee), method: :delete, data:{ confirm: 'Tem certeza que deseja Excluir?'} %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <%= render 'employees/shared/modal_workspaces' %>
  <%= render 'employees/shared/modal_job_roles' %>
  <%= render 'employees/shared/modal_users' %>
  <script>
    $(document).ready(function(){
      $("#mySearch").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>
