<div class="container">
  <h4 class="text-center mt-4">Dados Cadastrais Funcionário</h4>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>Matricula: </label>
        <input type="text" class="form-control" value="<%= @employee.registration %>" readonly>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Nome: </label>
        <input type="text" class="form-control" value="<%= @employee.name %>" readonly>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Data de Nascimento: </label>
        <input type="text" class="form-control" value="<%= @employee.date_birth.strftime("%d/%m/%Y") %>" readonly>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>Sexo: </label>
        <input type="text" class="form-control" value="<%= @employee.genre %>" readonly>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Lotação: </label>
        <input type="text" class="form-control" value="<%= @employee.workspace.title %>" readonly>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Função: </label>
        <input type="text" class="form-control" value="<%= @employee.job_role.title %>" readonly>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>Voltar: </label> <br>
        <%= link_to "<button class='btn btn-info' style='width:100%;'><i class='fa fa-arrow-left'></i></button>".html_safe, employees_path  %>
      </div>
    </div>
  </div>
  <hr>
  <h4 class="text-center mt-4">Contatos Funcionário</h4>
  <% @employee.contacts.each do |contact| %>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Telefone: </label>
        <input type="text" class="form-control" value="<%= contact.phone %>" readonly>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Celular: </label>
        <input type="text" class="form-control" value="<%= contact.cell_phone %>" readonly>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>E-mail: </label>
        <input type="text" class="form-control" value="<%= contact.email %>" readonly>
      </div>
    </div>
  </div>
<% end %>
              
</div>
