<%= form_with model: @employee, local: true do |f| %>
  <div class="row">
    <div class="col-md-2">
      <label>Matricula</label>
      <%= f.text_field :registration, class: "form-control mb-2 text-capitalize", type:"text", placeholder:"12345" %>
    </div>
    <div class="col-md-4">
      <label>Nome</label>
      <%= f.text_field :name, class: "form-control mb-2 text-capitalize", type:"text", placeholder:"Joao Silva" %>
    </div>
    <div class="col-md-3">
      <label>Data de Nascimento</label>
      <%= f.date_field :date_birth, class: "form-control mb-2" %>
    </div>
    <div class="col-md-3">
      <label>Cidade</label>
      <%= f.text_field :birth_town, class: "form-control mb-2 text-capitalize", placeholder:"Goiânia" %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <label>Estado</label>
      <%= f.text_field :birth_state, class: "form-control mb-2 text-capitalize", type:"text", placeholder:"Goiás" %>
    </div>
    <div class="col-md-2">
      <label>Função</label>
      <%= collection_select(:employee, :job_role_id, JobRole.all, :id, :title, { prompt: "Selecione" }, { class: "form-control" }) %>
    </div>
    <div class="col-md-3">
      <label>Setor</label>
      <%= collection_select(:employee, :workspace_id, Workspace.all, :id, :title, { prompt: "Selecione" }, { class: "form-control" }) %>
    </div>
    <div class="col-md-2">
      <label>Estado Civil</label>
      <%= f.select(:situation, Employee.situations.keys, { prompt: "Selecione" }, { class: "form-control" }) %>
    </div>
    <div class="col-md-2">
      <label>Sexo</label>
      <%= f.select(:genre, Employee.genres.keys, { prompt: "Selecione" }, { class: "form-control" }) %>
    </div>
  </div>
  <div class="row ml-1 mt-5">
    <h4>Informações de contato!</h4>
  </div>
  <div id="contacts">
    <%= f.fields_for :contacts do |contact| %>
      <%= render 'contact_fields', f: contact %>
    <% end %>
    <%= link_to_add_association 'Adicionar', f, :contacts, class: "btn btn-success mt-2" %>
  </div>
  <hr>
  <div class="row mt-5 ml-1">
      <%= f.submit class: "btn btn-success", data: { disable_with: "Criando....⌛" } %>
      <%= link_to "Cancelar", employees_path, class: "btn btn-danger ml-1" %>
  </div>
<% end %>
