<!-- Modal -->
<div class="modal fade" id="jobrole" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Funções Cadastradas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Descrição</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <% @job_roles.each do |job_role| %>
                <tr>
                  <th scope="row"><%= job_role.id %></th>
                  <td><%= job_role.title %></td>
                  <td><%= link_to 'Editar', edit_job_role_path(job_role), class:"btn btn-primary" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <%= link_to 'Adicionar', new_job_role_path, class:"btn btn-success" %>
      </div>
    </div>
  </div>
</div>
