<%= form_with model: @user, local: true do |f| %>
  <div class="col-md-4">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control mb-2", type:"text", placeholder:"Joao Silva"%>
  </div>
    <div class="col-md-4">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control mb-2", type:"email", placeholder:"teste@test.com"%>
  </div>
      <div class="col-md-4">
    <%= f.label :password %>
    <%= f.text_field :password, class: "form-control mb-2", type:"password"%>
  </div>
        <div class="col-md-4">
    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation, class: "form-control mb-2", type:"password"%>
  </div>
  <div class="col-md-4">
    <%= f.submit class: "btn btn-success", data: { disable_with: "Criando....⌛" } %>
    <%= link_to "Cancelar", employees_path, class: "btn btn-danger" %>
  </div>
<% end %>