<%= form_with model: @job_role, local: true do |f| %>
  <div class="col-md-6">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control mb-2", type:"text", placeholder:"Diretoria"%>
  </div>
  <div class="col-md-3">
    <%= f.submit class: "btn btn-success", data: { disable_with: "Criando....⌛" } %>
    <%= link_to "Cancelar", employees_path, class: "btn btn-danger" %>
  </div>
<% end %>
